/* Кастомные свойства (палитра) */
:root {
  /* Основная палитра */
  --black: #000000;
  --dark: #363636;
  --grey: #464646;
  --half-grey: #7E7E7E;
  --grey-light: #E5E5E5;
  --grey-lightest: #EBEBEB;
  --grey-medium: #DCDCDC;
  --grey-dark: #D9D9D9;
  --white: #FFFFFF;
  /* Дополнительная палитра */
  --grey-special: #F2F2F2;
  --yellow: #F7E296;
  --yellow-dark: #F0C52E;
  --yellow-light: #F7E296;
  --yellow-special: #FFC600;
  --yellow-special-writeus: #F7E296;
  --green: #91C92F;
  --transparent-black: rgba(0, 0, 0, 0.3);
  --transparent-grey: rgba(238, 238, 238, 0.7);
  --grey-shadow: rgba(0, 0, 0, 0.18);
  --special-green: #91C92F;
  --special-greyscale: #B7B7B7;
  --special-grey: #ABABAB;
  --special-grey-label: #A6A6A6;
  /* Статус */
  --status: #F6DADA;
}

/* Шрифты */
@font-face {
  font-family: "Gilroy";
  src:
  url("../fonts/gilroyextrabold.woff2") format("woff2"),
  url("../fonts/gilroyextrabold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src:
  url("../fonts/gilroylight.woff2") format("woff2"),
  url("../fonts/gilroylight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src:
  url("../fonts/opensans.woff2") format("woff2"),
  url("../fonts/opensans.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src:
  url("../fonts/opensanslight.woff2") format("woff2"),
  url("../fonts/opensanslight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

/* Анимация */
@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}


/* Общие стили */

body {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  color: var(--black);
  line-height: 28px;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%; /* Чтобы изображения не выходили за пределы родительских элементов */
  height: auto; /* Автоматическая высота для пропорционального изменения размеров */
}

/* Хедер */
.main-header {
  background-color: var(--yellow);
  padding-left: 60px;
  padding-right: 60px;
}

.main-header.container {
  width: 1040px;
}

.main-navigation {
  font-family: "Gilroy", "Arial", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.site-navigation {
  padding: 0;
}

.site-navigation,
.header-links,
.header-links-inner {
  list-style: none;
}

.site-navigation a,
.header-links a,
.header-links-inner a {
  color: var(--black);
}

.site-navigation a:hover,
.header-links a:hover,
.header-links-inner a:hover {
  opacity: 0.6;
}

.site-navigation a:focus,
.header-links a:focus,
.header-links-inner a:focus {
  opacity: 0.3;
}

.logo:hover {
  opacity: 0.6;
}

.logo:active {
  opacity: 0.3;
}

.logo-active:hover,
.logo-active:active {
  opacity: 1;
}

.header-links {
  line-height: 20px;
}

/* Слайдер */

.featured-products {
  position: relative;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.slider-buttons {
  list-style: none;
  display: flex;
  position: absolute;
  top: 59%;
  right: 23%;
  padding-left: 0px;
  transform: translate(-3px);
}

.slider-button {
  box-sizing: border-box;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  margin-right: 18px;
  border: 1px solid var(--black);
  background-color: transparent;
  padding: 0px;
  position: relative;
}

.slider-button-active::before {
  content: "";
  width: 6px;
  height: 6px;
  box-sizing: border-box;
  border-radius: 50%;
  border: 1px solid var(--black);
  position: absolute;
  top: 2px;
  right: 2px;
}

.slider h3 {
  font-family: "Gilroy", "Arial", sans-serif;
  font-style: normal;
  font-size: 47px;
  line-height: 58px;
}

.slider p {
  line-height: 20px;
}

.slider-def {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
  margin-top: 58px;
  display: flex;
}

.slider-def dd {
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.1em;
  margin-left: 0px;
}

.slider-def dt {
  padding-top: 14px;
}

.slider-def-wrapper {
  margin-right: 62px;
  display: flex;
  flex-direction: column-reverse;
}

.button {
  font-family: "Gilroy", "Arial", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: var(--black);
  background: linear-gradient(to top, transparent 40%,
  var(--yellow-dark) 40%,
  var(--yellow-dark) 60%,
  transparent 60%);
  border: none;
  box-sizing: border-box;
  padding: 9px 42px;
}

.button:hover {
  background: var(--yellow-dark);
}

.button:active {
  background: linear-gradient(to top, transparent 0%,
  var(--yellow-dark) 0%,
  var(--yellow-dark) 100%,
  transparent 100%);
  opacity: 0.3;
}

.slider.slide-hidden {
  display: none;
}

/* Популярные категории товаров */

.popular {
  padding-top: 44px;
  padding-bottom: 34px;
}

.popular-list {
  list-style: none;
  padding: 0px;
}

.popular-list-item {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;
}

.popular-list-item a {
  color: var(--black);
  background-color: var(--yellow-light);
}

.popular-list-item a:hover,
.popular-image-wrapper:hover {
  background-color: var(--yellow-dark);
}

.popular-list-item:active img,
.popular-list-item:active p {
  opacity: 0.3;
}

.popular-image-wrapper {
  margin-bottom: 38px;
}

.popular-list-item:nth-child(2) img {
  padding-top: 8px;
}

.popular-link p {
  background: var(--white);
  margin: 0px;
  padding-left: 1px;
}

.popular-list-item:nth-child(4) p {
  letter-spacing: normal;
}

.popular-image-wrapper {
  width: 160px;
  height: 160px;
  display: flex;
  background: var(--yellow-light);
}

.popular-image-wrapper img {
  margin: auto;
}

/* Сервисы */
.services {
  background-image: linear-gradient(to bottom, transparent 135px, var(--grey-light) 135px);
}

.services-wrapper {
  position: relative;
}

.services-list {
  list-style: none;
  border-right: 7px solid var(--black);
  padding-bottom: 58px;
}

.services-list-item {
  margin-bottom: 21px;
}

.services-button {
  padding: 9px;
  min-width: 160px;
}

.services-button:active,
.services-button:focus,
.active,
.active:active,
.active:focus,
.active:hover {
  background: var(--black);
  color: var(--yellow);
  border-radius: 0px;
  box-sizing: border-box;
  width: 277px;
  text-align: left;
  min-width: 177px;
  outline: 0;
  opacity: 1;
}

.delivery,
.warranty,
.loan {
  padding-left: 116px;
  padding-right: 190px;
}

.services-icon::after {
  content: "";
  background-repeat: no-repeat;
  position: absolute;
}

.delivery::after {
  background-image: url("../img/delivery.svg");
  width: 136px;
  height: 164px;
  top: 106px;
  right: 2px;
}

.warranty::after {
  background-image: url("../img/warranty.svg");
  width:171px;
  height: 195px;
  top: 88px;
  right: -16px;
}

.loan::after {
  background-image: url("../img/credit.svg");
  width: 156px;
  height: 188px;
  top: 83px;
  right: 8px;
}

.services .services-heading {
  padding-top: 39px;
  margin-bottom: 41px;
}

.services .services-description {
  line-height: 30px;
}

/* Следующие 3 CSS-правила с разными padding-left нужны для того, чтобы идеально спозиционировать надпись в кнопке,
у которой меняется ширина по нажатию */
li:nth-child(1) .services-button:active,
li:nth-child(1) .services-button:nth-child(1):focus,
.active {
  padding-left: 18px;
}

li:nth-child(2) .services-button:active,
li:nth-child(2) .services-button:nth-child(1):focus {
  padding-left: 23px;
}

li:nth-child(3) .services-button:active,
li:nth-child(3) .services-button:nth-child(1):focus {
  padding-left: 36px;
}

.services h3 {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  letter-spacing: 0.2em;
}

.services p {
  line-height: 28px;
  letter-spacing: 0.1em;
}

/* Логотипы партнеров */

.partners {
  padding-top: 75px;
  padding-bottom: 85px;
}

.partners-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  list-style: none;
  padding: 0px;
  gap: 40px;
}

.partners-list-item {
  filter: grayscale(100%) opacity(20%);
}

.partners-list-item:hover {
  filter: none;
}

/* О нас */

.about {
  padding-right: 82px;
}

.about h2 {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  letter-spacing: 0.2em;
  position: relative;
}

.brick::before {
  content: "";
  width: 80px;
  height: 7px;
  position: absolute;
  background-color: var(--black);
  top: -57px;
}

.about p {
  line-height: 28px;
}

.logistics-list-item a {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 28px;
  color: var(--black);
}

.logistics-list {
  list-style: none;
  padding-left: 33px;
  margin-bottom: 74px;
}

.logistics-list-item {
  margin-bottom: 14px;
  position: relative;
}

.logistics-list-item::before {
  content: "";
  box-sizing: border-box;
  width: 8px;
  height: 8px;
  border: 2px solid grey;
  border-radius: 50%;
  position: absolute;
  top: 12px;
  left: -33px;
}

.about p:first-of-type {
  margin-bottom: 41px;
}

.about p:last-of-type {
  margin-bottom: 59px;
}

.button-about {
  padding: 9px 21px;
  padding-left: 24px;
  padding-right: 18px;
}

/* Контакты */
.contacts {
  width: 560px;
}

.contacts h2 {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  letter-spacing: 0.2em;
  color: var(--black);
  position: relative;
}

.contacts p {
  margin-bottom: 40px;
}

.contacts-map img {
  margin-bottom: 74px;
}

.contacts-button {
  padding-right: 38px;
  padding-left: 40px;
}

/* Подвал */

.page-footer {
  background-color: var(--dark);
}

.footer-links {
  list-style: none;
}

.footer-links-item:not(:last-child) {
  margin-right: 27px;
  margin-top: -1px;
}

.footer-links .login-link::before {
  background-image: url("../img/footer-icon-user.svg");
}

.footer-links .compare-link::before {
  background-image: url("../img/footer-icon-chart.svg");
  left: -24px;
  top: 5px;
}

.footer-links .cart-link::before {
  background-image: url("../img/footer-icon-cart.svg");
  top: 4px;
}

.footer-links a {
  color: var(--white);
}

.footer-links a:hover {
  opacity: 0.6;
}

.footer-links a:focus {
  opacity: 0.3;
}

.footer-links {
  line-height: 20px;
}

.navigation-list {
  list-style: none;
  padding-top: 6px;
  display: flex;
  padding-left: 0px;
  flex-wrap: wrap;
}

.navigation-list-item {
  margin-left: 33px;
}

.navigation-list a {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: var(--white);
}

.navigation-list a {
  color: var(--white);
}

.navigation-list a:hover {
  opacity: 0.6;
}

.navigation-list a:focus {
  opacity: 0.3;
}

.address {
  font-style: normal;
  margin-top: 9px;
}

.address,
.phone,
.page-footer p {
  line-height: 20px;
  color: var(--white);
}

.phone-wrapper {
  padding-top: 8px;
}

.social-list {
  list-style: none;
}

.social-list-item {
  margin: 0 10px;
}

.social-list a {
  color: var(--white);
}

/* Страница каталога */
.heading {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
}

.main-heading {
  font-size: 47px;
  line-height: 58px;
  margin-top: 44px;
  margin-left: 2px;
  margin-bottom: 32px;
}

.header-links .logout-button {
  color: var(--transparent-black);
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  font-size: 14px;
  line-height: 19px;
  padding-left: 2px;
}

.breadcrumb-item {
  margin-right: 40px;
  position: relative;
}

.breadcrumb-item:not(:last-child)::after {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  background-image: url("../img/breadcrumb-arrow.svg");
  width: 4px;
  height: 6px;
  top: 4px;
  right: -23px;
}

.breadcrumbs a {
  color: var(--black);
  opacity: 0.3;
}

.breadcrumbs a:hover {
  opacity: 0.6;
}

.breadcrumbs a:active {
  opacity: 0.1;
}

.breadcrumbs .breadcrumbs-active:hover,
.breadcrumbs .breadcrumbs-active:active {
  opacity: 0.3;
}

/* Сортировка */
.sort-wrapper {
  background-color: var(--grey-light);
}

.sort-line-wrapper {
  display: flex;
  align-items: center;
  padding-top: 21px;
  padding-bottom: 21px;
  padding-left: 72px;
}

.sort-heading {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  padding: 0px;
  margin: 0 73px 0 0;
}

.sort-list,
.sort-arrows {
  list-style: none;
  display: flex;
}

.sort-arrows {
  align-items: center;
  height: 11px;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  padding-right: 4px;
  padding-left: 4px;
  width: 44px;
}

.sort-arrow {
  opacity: 0.2;
  background-image: url("../img/sort-arrow.svg");
  background-repeat: no-repeat;
  width: 10px;
  height: 10px;
}

.sort-arrow:hover,
.sort-arrow:focus {
  opacity: 0.4;
}

.sort-arrow:active {
  opacity: 1;
}

.sort-arrows li {
  padding-bottom: 0px;
}

.sort-arrow-active {
  transform: rotate(180deg);
  opacity: 1;
}

.sort-arrow-active:hover {
  opacity: 0.4;
}

.sort-list {
  flex-wrap: wrap;
  padding: 0;
  margin: 0 auto 0 0;
}

.sort-list-item {
  margin-right: 33px;
}

.sort-list a {
  font-size: 14px;
  line-height: 19px;
  color: var(--black);
  opacity: 0.3;
}

.sort-list a:hover,
.sort-list a:focus {
  opacity: 0.6;
}

.sort-list a:active {
  opacity: 1;
  pointer-events: none;
}

.sort-list .sort-active,
.sort-list .sort-active:hover,
.sort-list .sort-active:active {
  opacity: 1;
}

.products {
  padding-top: 70px;
  padding-left: 72px;
  padding-bottom: 78px;
}

.product-list {
  display: grid;
  grid-template-columns: 360px 360px;
  padding-left: 0px;
  gap: 40px;
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 32px;
  list-style: none;
}

.product-heading {
  color: var(--black);
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;
  padding-top: 22px;
  padding-bottom: 8px;
}

.price {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.05em;
  padding-top: 10px;
}

.product-list .button {
  padding-left: 36px;
  padding-right: 36px;
}

.compare-button {
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.1em;
  color: var(--black);
  opacity: 0.5;
  margin-top: 13px;
}

.product-info {
  display: flex;
  justify-content: space-between;
}

.pagination-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  padding: 0px;
}

.pagination-list li {
  margin-left: 10px;
  margin-right: 10px;
}

.pagination-button {
  font-family: "Gilroy", "Arial", sans-serif;;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  border: none;
  background-color: var(--grey-lightest);
  padding: 25px 26px;
  color: var(--black);
}

.pagination-button:active {
  color: var(--transparent-black);
}

.pagination-button:not(.numbers):hover {
  background-color: var(--grey-dark);
}

.pagination-button.numbers {
  color: var(--black);
  padding: 5px;
  opacity: 0.3;
}

.pagination-button.numbers:hover,
.pagination-button.numbers:focus {
  opacity: 0.6;
}

.pagination-button.numbers:active {
  opacity: 1;
}

.numbers.numbers-active,
.numbers.numbers-active:hover,
.numbers.numbers-active:focus,
.numbers.numbers-active:active {
  opacity: 1;
  background: none;
  color: var(--black);
}

.pagination-button.numbers-active:hover,
.pagination-button.numbers-active:active {
  background: none;
  color: var(--black);
}

/* Grid */
.page {
  height: 100%; /* чтобы при нехватке контента подвал прижимался к нижней части страницы. */
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.container {
  width: 1160px;
  margin-left: auto;
  margin-right: auto;
}

.main-header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 28px 1fr 1fr;
  margin-top: 40px;
}

.header-links {
  display: flex;
  flex-wrap: wrap; /* Защита от переполнения */
  justify-content: flex-end;
  padding-top: 1px;
}

.login-link {
  margin-right: 240px;
  position: relative;
}

.login-link::before {
  background-image: url("../img/icon-user.svg");
  width: 13px;
  height: 14px;
  top: 4px;
  right: 54px;
}

.username-link.login-link::before {
  left: -24px;
}

.compare-link {
  margin-left: auto;
  position: relative;
}

.icon::before {
  position: absolute;
  content: "";
  background-repeat: no-repeat;
}

.compare-link::before {
  background-image: url("../img/icon-chart.svg");
  width: 14px;
  height: 14px;
  top: 4px;
  right: 80px;
}

.cart-link {
  position: relative;
  margin-left: 65px;
}

.cart-link::before {
  background-image: url("../img/icon-cart.svg");
  width: 10px;
  height: 10px;
  top: 5px;
  right: 72px;
}

.main-header-logo {
  grid-column: 1 / 3;
}

.search {
  grid-column: 1 / 2;
  width: 440px;
  height: 50px;
  align-self: center;
  border: none;
  background-color: var(--yellow);
  position: relative;
  padding-left: 0px;
  padding-bottom: 14px;
  display: flex;
}

.search-string {
  line-height: 40px;
  font-weight: inherit;
  background-color: inherit;
  outline: none;
  width: 440px;
  opacity: 0.3;
  padding-left: 38px;
  padding-top: 4px;
  box-sizing: border-box;
  border-top: 0px;
  border-right: 0px;
  border-bottom: 2px solid transparent;
  border-left: 0px;
}

.search::before {
  background-image: url("../img/icon-search.svg");
  width: 16px;
  height: 16px;
  top: 20px;
  left: 1px;
}

.main-header .search.icon::before {
  opacity: 1;
  z-index: 1;
}

.search-string:active,
.search-string:focus-within {
  border-bottom: 2px solid var(--black);
  opacity: 1;
}

.search-string:hover {
  opacity: 0.6;
}

.search-button-submit {
  display: none;
  padding: 0 15px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 46px;
  font-weight: 300;
  text-transform: uppercase;
  color: var(--black);
  background-color: transparent;
  box-sizing: border-box;
  border: 2px solid var(--black);
}

.search:focus-within .search-button-submit {
  display: inline-block;
  vertical-align: unset;
}

.search-button-submit:hover {
  background-color: var(--black);
  color: var(--white);
}

.search-button-submit:active {
  background-color: var(--black);
  color: var(--white);
  opacity: 0.3;
}

.main-navigation {
  grid-column: 1 / 3;
}

.site-navigation {
  display: flex;
  flex-wrap: wrap; /* Защита от переполнения */
  letter-spacing: 0.2em;
  padding-top: 4px;
  padding-bottom: 1px;
}

.site-navigation > li:first-child {
  width: 502px;
  position: relative;
}

.site-navigation-item {
  margin-right: 38px;
}

.site-navigation-item:nth-child(2) {
  margin-right: 36px;
}

.site-navigation-item:first-child a {
  padding-right: 60px;
}

.site-navigation-item:first-child:hover .dropdown-menu,
.site-navigation-item:first-child:focus-within .dropdown-menu {
  display: grid;
  grid-template-columns: 240px 186px 99px;
  grid-template-rows: 1fr 1fr 1fr;
  left: -60px;
  padding: 30px 575px 26px 60px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  text-transform: none;
  letter-spacing: 0;
  position: absolute;
  z-index: 6;
  list-style: none;
  background-color: var(--yellow-light);
}

.dropdown-menu {
  display: none;
}

.dropdown-menu li {
  margin-bottom: 16px;
}

.dropdown-menu li:last-child {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}

.site-navigation-item:first-child::after {
  content: "";
  width: 15px;
  height: 15px;
  background-image: url("../img/catalog-cross.svg");
  position: absolute;
  top: 3px;
  right: 255px;
}

.site-navigation-item:nth-child(3) {
  margin-right: 37px;
}

.site-navigation-item:last-child {
  margin-left: auto;
  margin-right: -4px;
}

.main-header-logo {
  bottom: 20px;
  position: relative;
}

.slider {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 38px;
  background-image: linear-gradient(to bottom,
    var(--yellow) 144px,
    var(--white) 144px);
  padding-bottom: 44px;
  position: relative;
}

.slider a {
  grid-column: 1 / 2;
}

.slider-info-wrapper::before {
  content: "";
  width: 100px;
  height: 7px;
  position: absolute;
  top: 50px;
  right: 460px;
  background-color: var(--white);
}

.slider-info-wrapper::after {
  content: "01";
  position: absolute;
  right: 47px;
  top: 0px;
  font-family: "Gilroy", "Arial", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 180px;
  line-height: 219px;
  text-transform: uppercase;
  color: var(--white);
  z-index: -1;
}

.slide-2 .slider-info-wrapper::after {
  content: "02";
  right: 78px;
}

.slide-3 .slider-info-wrapper::after {
  content: "03";
  right: 77px;
}

.slider-info-wrapper {
  padding-top: 62px;
  padding-left: 1px;
  position: relative;
  z-index: 5;
}

.slider-info-wrapper h3 {
  margin-bottom: 26px;
}

.slider-info-wrapper p {
  margin-bottom: 56px;
}

.slide-1 .slider-image {
  padding-left: 89px;
  padding-top: 16px;
}

.slide-2 .slider-image {
  padding-left: 116px;
  padding-top: 42px;
}

.slide-3 .slider-image {
  padding-left: 30px;
  padding-top: 98px;
}

.slider.slide-2 {
  padding-bottom: 36px;
}

.popular-list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  column-gap: 40px;
}

.services-wrapper {
  display: grid;
  grid-template-columns: 284px 1fr;
  padding-top: 20px;
  padding-bottom: 52px;
}

.services-list {
  padding-left: 0;
  padding-top: 80px;
}

.double-block {
  gap: 40px;
  display: grid;
  grid-template-columns: 560px 560px;
  padding-bottom: 84px;
}

.footer-wrapper {
  display: grid;
  grid-template-columns: 1fr 461px 1fr;
  grid-template-rows: 1fr 1fr 100px;
  position: relative;
}

.page-footer {
  padding-top: 32px;
  padding-bottom: 64px;
}

.page-footer-logo {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  padding-top: 32px;
}

.footer-links {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
  display: flex;
  flex-wrap: wrap;
  padding: 0px;
  justify-content: flex-end;
}

.footer-links .login-link,
.footer-links .compare-link {
  margin-right: 38px;
}

.footer-links .cart-link {
  margin-left: auto;
  margin-right: 0px;
}

.address {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  align-self: center;
}

.address::before {
  content: "";
  width: 80px;
  height: 7px;
  position: absolute;
  background-color: var(--yellow-special);
  bottom: 36px;
}

.footer-navigation {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  align-self: center;
}

.phone-wrapper {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
  align-self: center;
  text-align: right;
}

.footer-social {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
}

.footer-academy-wrapper {
  display: flex;
  justify-content: flex-end;
  grid-column: 3 / 4;
  grid-row: 3 / 4;
  margin-top: 44px;
  width: 366px;
  height: 34px
}

.footer-academy-link:hover,
.footer-academy-link:focus {
  opacity: 0.6;
}

.footer-academy-link:active {
  opacity: 0.3;
}

.social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-left: 33px;
  padding-top: 30px;
}

.social-list-item a {
  display: block;
  width: 32px;
  height: 32px;
  opacity: 0.6;
}

.social-list-item a:hover,
.social-list-item a:focus {
  opacity: 1;
}

.social-list-item a:active {
  opacity: 0.1;
}

/* Сетка страницы каталога */

.main-header-inner {
  padding-bottom: 30px;
}

.header-links-inner {
  display: flex;
  flex-wrap: wrap;
  grid-column: 2 / 3;
  list-style: none;
}

.username-link {
  margin-right: 20px;
}

.top-wrapper.container {
  width: 1044px;
  padding-left: 60px;
  padding-right: 60px;
  margin-bottom: 48px;
}

.inner-page .footer-links {
  grid-column: 2 / 4;
  grid-row: 1 / 2;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.inner-page .username-link,
.inner-page .logout-link,
.inner-page .compare-link,
.inner-page .cart-link {
  margin-right: 25px;
  margin-left: 0px;
}

.header-links-inner li:nth-child(2) {
  flex-grow: 1;
}

.header-links-inner {
  padding-left: 44px;
}

.inner-page .cart-link {
  margin-right: 0px;
  margin-left: 40px;
}

.inner-page .compare-link {
  margin-left: 40px;
}

.section-wrapper {
  display: grid;
  grid-template-columns: 328px 832px;
}

.filters {
  background-color: var(--grey-light);
}

.filters-heading-wrapper {
  background-color: var(--grey-medium);
  text-align: left;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 61px;
}

.sort-wrapper {
  display: grid;
  grid-template-columns: 328px 1fr;
}

.product-wrapper {
  position: relative;
}

.product-new::after {
  content: "";
  position: absolute;
  background-image: url("../img/icon-new.svg");
  width: 62px;
  height: 62px;
  top: 29px;
  right: 27px;
}

.compare-cart-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -32%);
  min-width: 360px;
  z-index: 2;
}

.product-wrapper .compare-cart-wrapper {
  opacity: 0;
}

.product-list-item:hover::before,
.product-list-item:focus-within::before { /* Добавил focus для доступности */
  content: "";
  position: absolute;
  background-color: var(--transparent-grey);
  width: 360px;
  height: 380px;
  z-index: 1;
}

.product-list-item:hover .compare-cart-wrapper,
.product-list-item:focus-within .compare-cart-wrapper { /* Добавил focus для доступности */
  opacity: 1;
}

.compare-button:hover {
  opacity: 1;
}

.compare-button:active {
  opacity: 0.2;
}

.pagination-wrapper {
  display: grid;
  grid-template-columns: 120px 1fr 120px;
  background-color: var(--grey-lightest);
}

.top-color-wrapper {
  display: grid;
  grid-template-columns: auto 1160px auto;
}

.color-wrapper-left {
  background-color: var(--grey-medium);
}

.color-wrapper-right {
  background-color: var(--grey-light);
}

.color-wrapper {
  display: grid;
  grid-template-columns: auto 1160px auto;
}

.color-wrapper .color-wrapper-left {
  background-color: var(--grey-light);
}

.color-wrapper .color-wrapper-right {
  background-color: var(--white);
}

/* Модальные окна */

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  display: none;
  color: var(--black);
  background-color: var(--white);
  box-shadow: 0 10px 16px rgba(0, 0, 0, 0.15);
}

.modal-show {
  display: block;
  animation: bounce 0.6s;
}

.modal-close {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 55px;
  height: 55px;
  background-color: var(--yellow-dark);
  opacity: 0.5;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.modal-close:hover {
  background-color: var(--yellow-dark);
  opacity: 1;
}

.modal-close:active {
  background-color: var(--yellow-dark);
  opacity: 0.3;
}

.modal-close::before {
  content: "";
  position: absolute;
  top: 19px;
  right: 18px;
  width: 20px;
  height: 20px;
  background-image: url("../img/modal-close.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.modal-writeus {
  z-index: 100;
  width: 960px;
  height: 550px;
  padding: 92px 100px 60px 100px;
  box-sizing: border-box;
}

.modal-writeus form {
  display: flex;
  flex-wrap: wrap;
}

.writeus-input-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
  flex-grow: 1;
}

.writeus-input-wrapper:first-child {
  margin-right: 40px;
}

.writeus-input-wrapper:last-of-type {
  width: 100%;
  margin-bottom: 45px;
}

.modal-writeus label {
  margin-bottom: 10px;
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
}

.modal-writeus input,
.modal-writeus textarea {
  padding: 16px 20px 11px 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: inherit;
  background-color: var(--grey-special);
  border: none;
}

.modal-writeus input::placeholder,
.modal-writeus textarea::placeholder {
  font-size: 14px;
  line-height: 19px;
  color: var(--black);
}

.modal-writeus textarea {
  height: 167px;
  resize: none;
}

.writeus-input-wrapper input,
.writeus-input-wrapper textarea {
  border: 2px solid var(--grey-special);
  box-sizing: border-box;
}

.writeus-input-wrapper input:focus {
  border: 2px solid var(--yellow-special-writeus);
}

.writeus-input-wrapper textarea:focus {
  border: 2px solid var(--yellow-special-writeus);
}

.modal-button {
  padding-left: 34px;
  padding-right: 34px;
}

.modal-error {
  animation: shake 0.6s;
}

.modal-error input {
  background-color: var(--status);
  border: 2px solid var(--status);
}

/* Модальное окно с картой */

.modal-map {
  width: 960px;
  height: 558px;
}

.modal-map img {
  display: block;
}

.modal-map iframe {
  border: none;
}

/* Фильтры */

.filter {
  position: relative;
  flex-grow: 1;
  padding: 70px 68px 70px 60px;
}

.filter-item {
  margin: 0;
  margin-bottom: 38px;
  padding: 0;
  padding-top: 14px;
  border: none;
}

.filter .button {
  padding: 9px 42px 9px 38px;
}

/* Фильтры Стоимость */

.range-filter {
  width: 260px;
}

.filter-item legend {
  margin-bottom: 25px;
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.1em;
  text-transform: none;
  border-top: 2px solid var(--black);
  width: 200px;
  padding-top: 14px;
}

.filter-list {
  list-style: none;
  padding-left: 0px;
  margin: 0px;
}

.filter-list li:not(:last-child) {
  margin-bottom: 20px;
}

.range-controls {
  position: relative;
  height: 19px;
  margin-bottom: 0px;
  padding: 0;
}

.scale {
  width: 200px;
  height: 2px;
  background-color: var(--special-greyscale);
}

.range-controls .toggle {
  position: absolute;
  top: -9px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid var(--white);
  background-color: var(--special-grey);
  border-radius: 50%;
  box-shadow: 0 2px 2px 0 var(--grey-shadow);
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 0%;
}

.range-controls .toggle-max {
  left: 44%;
}

.price-controls {
  display: flex;
  width: 200px;
}

.price-controls input[type=number] {
  -moz-appearance: textfield;
}

.price-controls label {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
}

.price-controls {
  display: flex;
}

.price-controls input {
  width: 50px;
  padding: 0;
  border: none;
  background-color: inherit;
  font-family: inherit;
  font-size: inherit;
}

.price-controls label {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
}

.min-price-input,
.max-price-input {
  margin-right: 29px;
  margin-left: 0px;
}

 .bar {
  width: 60%;
  margin-left: 0%;
  height: 2px;
  background-color: var(--special-green);
}

.filter-item:not(:first-child) legend {
  margin-bottom: 18px;
}

/* Фильтры Цвет */

.filter-color label,
.filter-bluetooth label {
  position: relative;
  display: block;
  padding-left: 42px;
  font-size: 14px;
  line-height: 19px;
}

.filter-color input:disabled + label,
.filter-bluetooth input:disabled + label {
  color: var(--special-grey-label);
}

.filter-color label::before,
.filter-bluetooth label::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-position: 0 0;
  transform: translate(0, -50%);
}

.filter-color label::before {
  background-image: url("../img/checkbox.svg");
}

.filter-color input:checked + label::after,
.filter-bluetooth input:checked + label::after {
  content: "";
  position: absolute;
  top: 50%;
  background-repeat: no-repeat;
  background-position: 0 0;
  transform: translate(0, -50%);
}

.filter-color input:checked + label::after {
  left: 5px;
  width: 14px;
  height: 11px;
  background-image: url("../img/checkbox-yes.svg");
}

.filter-color input:disabled + label::before,
.filter-color input:disabled + label::after,
.filter-bluetooth input:disabled + label::before,
.filter-bluetooth input:disabled + label::after {
  opacity: 0.25;
}

.filter-color label:hover::before,
.filter-color label:hover::after,
.filter-color input:focus + label::before,
.filter-color input:focus + label::after,
.filter-bluetooth label:hover::before,
.filter-bluetooth label:hover::after,
.filter-bluetooth input:focus + label::before,
.filter-bluetooth input:focus + label::after {
  opacity: 0.6;
}

/* Фильтры Bluetooth */

.filter-list-bluetooth li:not(:last-child) {
  margin-bottom: 25px;
}

.filter-bluetooth label::before {
  border: 2px solid var(--black);
  box-sizing: border-box;
  border-radius: 50%;
}

.filter-bluetooth input:checked + label::after {
  left: 8px;
  width: 8px;
  height: 8px;
  background-color: var(--black);
  border-radius: 50%;
}
