/* Кастомные свойства (палитра) */
:root {
  /* Основная палитра */
  --black: #000000;
  --dark: #363636;
  --grey: #464646;
  --half-grey: #7E7E7E;
  --grey-light: #E5E5E5;
  --grey-lightest: #EBEBEB;
  --grey-dark: #D9D9D9;
  --white: #FFFFFF;
  /* Дополнительная палитра */
  --yellow: #F7E296;
  --yellow-dark: #F0C52E;
  --yellow-light: #F7E296;
  --green: #91C92F;
  --transparent-black: rgba(0, 0, 0, 0.3);
  /* Статус */
  --status: #F6DADA;
}

/* Шрифты */
@font-face {
  font-family: "Gilroy";
  src:
  url("../fonts/gilroyextrabold.woff2") format("woff2"),
  url("../fonts/gilroyextrabold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src:
  url("../fonts/gilroylight.woff2") format("woff2"),
  url("../fonts/gilroylight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src:
  url("../fonts/opensans.woff2") format("woff2"),
  url("../fonts/opensans.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src:
  url("../fonts/opensanslight.woff2") format("woff2"),
  url("../fonts/opensanslight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

/* Общие стили */

body {
  min-width: 1440px;
  font-family: Open Sans, Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  color: var(--black);
  line-height: 28px;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%; /* Чтобы изображения не выходили за пределы родительских элементов */
  height: auto; /* Автоматическая высота для пропорционального изменения размеров */
}

/* Хедер */
.main-header {
  background-color: var(--yellow);
}

.main-navigation {
  font-family: Gilroy, Arial, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.site-navigation,
.header-links {
  list-style: none;
}

.site-navigation a,
.header-links a {
  color: var(--black);
}

.site-navigation a:hover,
.header-links a:hover {
  opacity: 0.6;
}

.site-navigation a:focus,
.header-links a:focus {
  opacity: 0.3;
}

.logo:hover {
  opacity: 0.6;
}

.logo:active {
  opacity: 0.3;
}

.logo-active:hover,
.logo-active:active {
  opacity: 1;
}

.header-links {
  line-height: 20px;
}

/* Слайдер */

/* Потом назначу гриды
.featured-products {
}
*/

.slider-buttons {
  list-style: none;
}

.slider h3 {
  font-family: Gilroy, Arial, sans-serif;
  font-style: normal;
  font-size: 47px;
  line-height: 58px;
}

.slider p {
  line-height: 20px;
}

.slider-def {
  font-family: Gilroy, Arial, sans-serif;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
}

.slider-def dd {
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.1em;
}

.button {
  font-family: Gilroy, Arial, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: var(--black);
  background: linear-gradient(to top, transparent 40%,
  var(--yellow-dark) 40%,
  var(--yellow-dark) 60%,
  transparent 60%);
  border: none;
  box-sizing: border-box;
  padding: 9px 42px;
  outline: 0;
}

.button:hover {
  background: var(--yellow-dark);
}

.button:active {
  background: linear-gradient(to top, transparent 0%,
  var(--yellow-dark) 0%,
  var(--yellow-dark) 100%,
  transparent 100%);
  opacity: 0.3;
}

/* Популярные категории товаров */

/* Потом назначу гриды
.popular {
  width: 1140px;
  margin: 0 auto;
}
*/

.popular-list {
  list-style: none;
}

.popular-list-item {
  font-family: Gilroy, Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;
}

.popular-list-item a {
  color: var(--black);
  background-color: var(--yellow-light);
}

.popular-list-item a:hover {
  background-color: var(--yellow-dark);
}

.popular-list-item a:active {
  opacity: 0.3;
  background-color: var(--yellow-dark);
}

/* Сервисы */
.services {
  margin: 0 auto;
  background-color: var(--grey-light);
}

.services-list {
  list-style: none;
}

.services-button {
  padding: 9px;
  min-width: 160px;
}

.services-button:active,
.services-button:focus {
  background: var(--black);
  color: var(--yellow);
  border-radius: 0px;
  box-sizing: border-box;
  width: 277px;
  text-align: left;
  min-width: 177px;
  outline: 0;
  opacity: 1;
}

/* Следующие 3 CSS-правила с разными padding-left нужны для того, чтобы идеально спозиционировать надпись в кнопке,
у которой меняется ширина по нажатию */
li:nth-child(1) .services-button:active,
li:nth-child(1) .services-button:nth-child(1):focus {
  padding-left: 18px;
}

li:nth-child(2) .services-button:active,
li:nth-child(2) .services-button:nth-child(1):focus {
  padding-left: 23px;
}

li:nth-child(3) .services-button:active,
li:nth-child(3) .services-button:nth-child(1):focus {
  padding-left: 36px;
}

.services h3 {
  font-family: Gilroy, Arial, sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  /* identical to box height */
  letter-spacing: 0.2em;
}

.services p {
  line-height: 28px;
  /* or 187% */
  letter-spacing: 0.1em;
}

/* Логотипы партнеров */

/* Потом назначу гриды
.partners {
  width: 1140px;
  margin: 0 auto;
}
*/

.partners-list {
  list-style: none;
}

.partners-list-item {
  filter: grayscale(100%) opacity(20%);
}

.partners-list-item:hover {
  filter: none;
}

/* Потом назначу гриды
.double-block {
  width: 1140;
  margin: 0 auto;
}
*/

/* О нас */

.about {
  width: 560px;
}

.about h2 {
  font-family: Gilroy, Arial, sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  /* identical to box height */
  letter-spacing: 0.2em;
}

.about p {
  line-height: 28px;
}

/* Будем делать через псевдоэлементы, пока закрываю в коммент
.logistics-list {

}
*/

.logistics-list-item a {
  font-family: Gilroy, Arial, sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 28px;
/* or 175% */
  color: var(--black);
}

.button-about {
  padding: 9px 21px;
}

/* Контакты */
.contacts {
  width: 560px;
}

.contacts h2 {
  font-family: Gilroy, Arial, sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  letter-spacing: 0.2em;
  color: var(--black);
}

 .contacts-button {
  padding-right: 39px;
  padding-left: 39px;
 }

/* Подвал */

.page-footer {
  background-color: var(--dark);
}

.footer-links {
  list-style: none;
}

.footer-links a {
  color: var(--white);
}

.footer-links a:hover {
  opacity: 0.6;
}

.footer-links a:focus {
  opacity: 0.3;
}

.footer-links {
  line-height: 20px;
}

.navigation-list {
  list-style: none;
}

.navigation-list a {
  font-family: Gilroy, Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: var(--white);
}

.navigation-list  a {
  color: var(--white);
}

.navigation-list  a:hover {
  opacity: 0.6;
}

.navigation-list  a:focus {
  opacity: 0.3;
}

.address {
  font-style: normal;
}

.address,
.phone,
.page-footer p {
  line-height: 20px;
  color: var(--white);
}

.social-list {
  list-style: none;
}

/* Модальные окна */

.modal-button {
  padding-left: 34px;
  padding-right: 34px;
}

/* Страница каталога */
.heading {
  font-family: Gilroy, Arial, sans-serif;
  font-weight: 800;
}

.main-heading {
  font-size: 47px;
  line-height: 58px;
}

.header-links .logout-button {
  color: var(--transparent-black);
}

.breadcrumbs {
  list-style: none;
  font-size: 14px;
  line-height: 19px;
}

.breadcrumbs a {
  color: var(--black);
  opacity: 0.3;
}

.breadcrumbs a:hover {
  opacity: 0.6;
}

.breadcrumbs a:active {
  opacity: 0.1;
}

.breadcrumbs .breadcrumbs-active:hover,
.breadcrumbs .breadcrumbs-active:active {
  opacity: 0.3;
}

/* Сортировка */
.sort-wrapper {
  background-color: var(--grey-light);
}

.sort-heading {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.sort-list,
.sort-arrows {
  list-style: none;
}

.sort-list a {
  font-size: 14px;
  line-height: 19px;
  color: var(--black);
  opacity: 0.3;
}

.sort-list a:hover,
.sort-list a:focus {
  opacity: 0.6;
}

.sort-list a:active {
  opacity: 1;
  pointer-events: none;
}

.sort-list .sort-active,
.sort-list .sort-active:hover,
.sort-list .sort-active:active {
  opacity: 1;
}

.product-list {
  list-style: none;
}

.product-heading {
  color: var(--black);
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;
}

.price {
  font-family: Gilroy, Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.05em;
}

.product-list .button {
  padding-left: 36px;
  padding-right: 36px;
}

.compare-button {
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.1em;
  color: var(--black);
  opacity: 0.5;
}

.compare-button:hover {
  opacity: 1;
}

.compare-button:active {
  opacity: 0.2;
}

.pagination-wrapper {
  background-color: var(--grey-lightest);
}

.pagination-list {
  list-style: none;
}

.pagination-button {
  font-family: Gilroy, Arial, sans-serif;;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  border: none;
  outline: 0;
  background-color: var(--grey-lightest);
  padding: 25px 26px;
  color: var(--black);
}

.pagination-button:hover {
  background-color: var(--grey-dark);
}

.pagination-button:active {
  color: var(--transparent-black);
}

.pagination-button.numbers {
  color: var(--black);
  padding: 5px;
  opacity: 0.3;
}

.pagination-button.numbers:hover,
.pagination-button.numbers:focus {
  opacity: 0.6;
}

.pagination-button.numbers:active {
  opacity: 1;
}

.numbers.numbers-active,
.numbers.numbers-active:hover,
.numbers.numbers-active:focus,
.numbers.numbers-active:active {
  opacity: 1;
  background: none;
  color: var(--black);
}

.pagination-button.numbers-active:hover {
  background: none;
}
